@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
	background-color: white;
	color: black;

	font-family: "Lato", sans-serif;
}

#content {
	width:50vw;
	margin-top: 1vw;
	margin-left: 2vw;
}

textarea {
	width: 50vw;
	height: 89.4vh;
	float: right;

	background-color: black;
	color:white;
	font-family: "Arial", sans-serif;
	border-color: transparent;
	position: sticky;

	font-size: large;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	font-size: 80%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ffffff38;
}

#playing {
	transform: scale(1.5);
}

h2 {
	margin: 0;
}

hr {
	width: 46vw;
}

small {
	font-size: 80%;
}

select {
	/* Fix bootstrap */
	width: unset !important; 
}

/* TODO: Fix these */

.fixedOption {}

.fixedOption > h4 {}